/* @import src(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700); */
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("https://alpha-assets.stylori.com/images/static/loadingimg.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.overall-loader {
    margin-left: 40% !important;
    margin-top: 20% !important;
}

/* links */





.h1class{
text-align: center;
}
aside
{
height:85vh;
overflow-y: auto;
width:fit-content;
background:#222527;
}
aside a {
    text-decoration: none;
    color: white;
}
ul
{
padding:0px;
margin:0px;
border-bottom:1px solid #1c1f21;
}

ul li
{
list-style-type:none;
color:#5a5b5b;
padding:10px;
border-bottom:1px solid #272a2c;
border-top:1px solid #1c1f21;
overflow: auto;
cursor:pointer;
}

ul li:first-child{border-top:none;}

.fa
{
color:#18a3fc;
display:block;
}

ul li:hover .fa
{
color:#0f82da;
}

ul li:hover .linktitle
{
color:#6c6d6e;
}

ul li div
{
float:left;
}

.icons
{
padding:10px;
}

.linktitle
{
line-height: 35px;
padding-left: 10px;
}


/* Reponsive menu code */
/* @media all and (max-width: 600px) {
aside
{
width:60px;
padding:0px 10px;
}

ul li
{
overflow:hidden;
padding:0px 10px;
}

.linktitle
{
position: absolute;
z-index: -1;
left: -50px;
padding: 29px 15px;
line-height:0px;
background:#222527;
}

ul li:hover .linktitle
{
left:80px;
}
.icons
{
padding: 20px 10px;
}

ul li:hover .icons
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-ms-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);
}
} */
/* links end */