.swiper-container {
    width: 500px;
    height: 300px;
  }
  
  /* .productDescriptionCarousel {
    display:'flex' !important;
    justify-content:'center'!important;
  } */
  
  
  
  /* hover img*/
  
  
  
  
  
  
  .hovereffect {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    height: 170px !important;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    /* border: 1px solid #ccc !important; */
    cursor: pointer;
  }
  
  .hovereffect .overlay1 {
    width: 100%;
    height: 170px !important;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
  }
  
  .boxshadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 4px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  }
  
  .slick-slide img {
    display: inline;
  }
  
  .hovereffect img {
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
  }
  
  .hovereffect h2 {
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
    height: 50px !important;
    overflow: hidden;
  }
  
  .hovereffect a.info {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 7px 14px;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .hovereffect:hover .overlay1 {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  
  .hovereffect:hover h2,
  .hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
  
  .hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
  }
  
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -490px 0;
    }
  
    100% {
      background-position: 490px 0;
    }
  }
  
  .shine {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
  
    background-image: -webkit-linear-gradient(left,
        #f6f7f8 0%,
        #edeef1 20%,
        #f6f7f8 40%,
        #f6f7f8 100%);
    background-size: 980px 898px;
    /* height: 898px; */
    position: relative;
  }
  
  .imgDiv2 {
    width: 120px !important;
    height: 120px !important;
    border: none !important;
  }
/* product hovering price*/
.price-div {
    /* position: relative; */
    min-height: 1px;
    font-size: 12px;
    color: #394578;
    line-height: 1.42857143 !important;
    /* padding: 0 10px !important; */
}

.containbev {
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 5px 8px 0px 8px;
    margin: 4px 0px 10px 0px;
}

@media only screen and (min-width: 768px) {
    .containbev {
        box-shadow: none !important;
        padding: 5px 8px 0px 8px;
        margin: 4px 0px 4px 0px;
    }
}

.pdp-title {
    margin-top: 10px;
    line-height: 13px;
    text-transform: capitalize;
    text-align: left;
    font-size: 14px !important
}

.bg-clr2 {
    background: linear-gradient(to bottom, #f6f7f8 0%, #fff 100%);
    top: 0px !important;
    margin: 20px 0 10px;

}

.pdp-desc {
    font-size: 11px !important;
    margin-top: -4px !important;
    text-align: left;
    overflow: hidden;
}

.starts {
    position: relative !important;
    min-height: 1px;
    text-align: center !important;

}

.width {
    width: 9% !important;
}

.starts-review {
    cursor: pointer;
    margin-top: 5px;
    color: #ccc;
    font-family: "Robot-Black" !important;
    /* margin-left: 27% !important;  */
}

.border-line- {
    margin-bottom: -10px !important;
}

.bottom-line {
    border: 0 !important;
    height: 1px !important;
    background: #CB356B;
    background: -webkit-linear-gradient(to right, #ed1165, #fff) !important;
    background: linear-gradient(to right, #ed1165, #fff) !important;
    float: left !important;
    width: 100% !important;
}

/* .fc >.MuiPaper-elevation1 {
        box-shadow: 0px 0px 2px 0px #ed1165 !important;
    } */

.social-shares {
    padding-left: 14px !important;
    padding-right: 14px !important;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center !important;
}

.layOut {
    /* border: 1px solid #c5c5c5; */
    box-shadow: 10px 10px 7px #aaaaaa;
}

.price-info {
    font-size: 12px;
    line-height: 1.42857143;
    text-align: center !important;
}

.discount-container {
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 17px;
    text-decoration: line-through;
    line-height: 24px !important;
}

.selling-price {
    margin-left: 20px;
    font-size: 22px;
    margin-bottom: 2px;
    line-height: 1.42857143;
    text-align: left !important;
}

.discount {
    flex: 0.7;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    background-color: #ed1165 !important;
    padding: 3px !important;
}

.one-day-ship-mb {
    height: 20px !important;
    position: relative !important;
    background-image: url(https://assets-cdn.stylori.com/images/static/product-details-icons.png);
    background-repeat: no-repeat !important;
    background-position: -38px -37px !important;
    /* margin-left: 20px !important; */
    flex: 1
}

.modal-div {
    background: #fff !important;
    width: 100%;
    height: 100%;
}

.modal-clos {
    font-size: 20px !important;
    right: 5% !important;
}

/*price tabs*/
.tabs-hesd-icon {
    padding: 0 5px !important;
}

.price-panel {
    /* padding: 0px; */
    box-shadow: none !important;
    background: none !important;

}

.tabs-valus {
    /* width: 70%; */
    /* display: flex; */
    /* flex-direction: column;
    padding: 5px; */
    background: #fdbac15c;
    border: none !important;
    /* align-items: center !important;
    outline: none !important;
    margin-bottom: 5px; */
    cursor: pointer !important;
    font-weight: bold !important;

}

.tabs-contants {
    font-size: 11px !important;
    margin: auto !important;
    font-family: 'Roboto' !important;
    text-align: center !important;
}

.tabs-gold-icons {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    width: 13px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 6px;
    float: left;
    margin-right: 2px;
    border-bottom: 6px solid #ffbc19;
}

.PrivateTabIndicator-root-683,
.PrivateTabIndicator-colorPrimary-684,
.MuiTabs-indicator {
    background: #ed1165 !important;

}

.price-tabs {
    border-bottom: 1px solid #ddd !important;
}

.product-icons {
    font-size: 20px !important;
    /* margin-top: 18px !important; */
}

.product-icons i {
    font-size: 20px !important;
    background-size: 219px;
    background-position: -87px 4px;
    cursor: pointer;
}

@keyframes pulse_animation {
    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    75% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.product-icons i:hover {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.subtabs,
.MuiTab-wrapper,
.MuiTabs-flexContainer,
.MuiTab-labelIcon {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-transform: none !important;
    font-size: 13px !important;
    flex-direction: unset !important;
    display: unset !important;
}

.subtabs,
.MuiTab-labelIcon,
.MuiTabs-root {
    min-height: 0px !important;
    height: 42px !important;
}

.PrivateTabIndicator-colorPrimary-170 {
    background: #ed1165 !important;
}

.tabs-icons {
    color: #ed1165 !important;
}

/*buynow-button*/
.buynow-button {
    /* border: none;
        background-color: #f36e23 !important;
        color: #fff !important;
        font-size: 19px !important;
        text-align: center;
        letter-spacing: 1px !important;
        width: 100%;
        text-transform: none !important; */

    width: 100% !important;
    height: 45px !important;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px !important;
    font-weight: 500 !important;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buynow-button:hover {
    background-color: #f36e23 !important;
    color: #fff !important;
}

.buynow-btn-cont {
    line-height: 35px !important;

}

.buynow-icon {
    font-size: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.buy-subheaders {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 12px;
    color: #394578;
    font-weight: 600;
    line-height: 1.42857143;
}

.nd-hlp {
    font-weight: 600;
    margin-bottom: 10px;
}

.price-offers {}

.buynow-search {
    color: #394578;
    outline: none !important;
    font-size: 16px !important;
    width: 100% !important;

    height: 34px !important;
    border: 1px solid #ccc;
    border-radius: 0 !important;
    padding: 0px 6px !important;
}

.search-button {
    border: 0;
    font-size: 12px !important;
    border-radius: 0 !important;
    height: 36px !important;
    width: 100% !important;
    font-weight: 400 !important;
    line-height: 1.42857143;
    padding: 0px !important;
    text-transform: none !important;
}

.search-button:hover {
    background-color: #3b4579 !important;
    color: #fff !important;
}

.content {
    margin-top: 5px !important;
    align-items: center !important;
    text-align: center !important;
    font-size: 9px;
    line-height: 1.42857143 !important;
}

.ships-by {
    font-size: 11px !important;

}

.slick-dots {
    position: unset !important;
}

.curser {
    cursor: pointer !important;
}

.features-tags {
    font-size: 11px;
    padding-top: 10px !important;
    font-size: 11px;
    margin-bottom: 0;
}

.features-tags-images {
    background-size: 247px !important;
    background-position: -18px -11px !important;
    width: 18px !important;
    height: 18px !important;
    margin-right: 4px !important;
}

/*ProductDetails*/
.product-details {
    font-weight: bold !important;
    font-size: 13px;
}

.product-subhead {
    font-size: none !important;
    margin-top: 3px !important;
}

.product-subhead-list {
    font-size: 13px !important;
    width: 100%;
    overflow: auto;
}

/* //:nth-child(2n) */
.product-subhead-list span {
    margin-top: 3px !important;
    display: flex;
    flex: 1;
}

/*certification*/
.certification-img {
    width: 100% !important;
    margin-top: -25px !important;
}

/*request*/
.request-text,
/* .MuiOutlinedInput-input {
    display: block;
    width: 98% !important;
    height: 42px !important;
    line-height: 42px !important;
    padding: 0 5px !important;
    font-size: 13px;
    line-height: 1.42857143;
    color: #394578 !important;
    border: 1px solid #c3c3c3;
    border-radius: 0px;
    box-shadow: none;
}

.MuiOutlinedInput-inputMultiline {
    margin-top: -20px !important;
    margin-left: -14px !important;
} */

.requset-button {
    background: #394579 !important;
    border-radius: 0px !important;
    text-align: center !important;
    min-width: 100px !important;
    font-size: 13px !important;
    border: none;
    cursor: pointer;
    float: right !important;
    text-transform: none !important;
}

/*rating-form*/
.rating-form {
    width: 100% !important;
    float: left !important;
    padding-bottom: 10px;
}

.pincode-cust {
    color: #394578;
    font-size: 12px !important;
    background-image: url(https://assets-cdn.stylori.com/images/static/location.png);
    /* font-family: FontAwesome; */
    background-position: 7px 8px;
    background-repeat: no-repeat;
    width: 100%;
    height: 30px;
    float: left;
    padding-left: 25px !important;
    border: 1px solid #ccc;
}

.buy-now-iconz {
    background-repeat: no-repeat !important;
    padding-left: 31px !important;
    background-image: url(https://assets-cdn.stylori.com/images/static/icons.png) !important;
    background-position: -22px -22px !important;
    background-size: 100px !important;
}

.rating-form-head {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    width: 100% !important;
}

.rating-form-text {
    color: #394578 !important;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
}

.back_img {
    /* background-image: url(https://assets-cdn.stylori.com/images/static/bg.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.tool-tips,
.MuiFormHelperText-contained,
.MuiFormHelperText-root {
    font-weight: 300;
    font-size: 12px;
    margin: 0 !important;
    margin-top: 0 !important;
    min-height: 0 !important;
}

.form-cancel {
    background: #FFF !important;
    color: #394578 !important;
    padding: 12px 15px !important;
    border-radius: 0px !important;
    border: 1px solid #394578 !important;
    min-width: 100px !important;
    font-size: 16px;
    font-weight: bold !important;
    line-height: 1.42857143;
    text-align: center;
    text-transform: none !important;
}

.form-cancel-mob {
    border-radius: 0px !important;
    border: 1px solid #394578 !important;
    text-transform: none !important;
    padding: 9px 15px !important;
}

.form-cancel:hover {
    background-color: #394578 !important;
    color: #fff !important;
}

.form-reviews-mob {
    border-radius: 0px !important;
    text-transform: none !important;
    border: 1px solid #394579 !important;
    text-align: center;
    margin-right: 5px !important;
    min-width: 100px;
    font-size: 13px !important;
    padding: 10px 17px !important;
    font-family: "Roboto"
}

.form-reviews-mob:hover {
    background: #394579 !important;
    color: #FFF;
}

.form-cancel-mob:hover {
    background-color: #394578 !important;
    color: #fff !important;
}

/*reviews-customer*/
.reviews {
    height: auto !important;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.attribution {
    font-size: 12px;
    color: #444;
    text-decoration: none;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: -1;
}

.attribution:hover {
    color: #1fa67a;
}

.reviews-header {
    border-bottom: 1px solid #ccc !important;
    height: 30px;
}

.brder-btom {
    width: 100% !important;
    border: 0.5px solid #ddd;
    margin-bottom: 5px !important;
}

.reviews-customer {
    font-size: 13px !important;
    padding: 0 15px !important;
    font-weight: 600 !important;
}

.data-reviews {
    font-size: 13px !important;
}

/*price-carousel smart-view*/
.price-carousel {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.image-priceCarousel {
    height: 200px !important;
    width: 100% !important;
}

.price-carosuel {
    height: 200px !important;
}

.product-details-smrt {
    font-size: 13px !important;
    font-weight: 600 !important;
    padding-left: 4px
}

/* .MuiExpansionPanelSummary-root.Mui-expanded {
    border-bottom: 0.2px solid #f5cacc !important;
} */
.expansion-summary {
    min-height: 30px !important;
}

.MuiExpansionPanelSummary-root.Mui-expanded,
.MuiExpansionPanelSummary-root,
.MuiExpansionPanel-root:before,
.MuiExpansionPanel-root.Mui-expanded .MuiExpansionPanel-rounded:last-child .MuiExpansionPanel-rounded:first-child {
    padding: 0 !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.MuiExpansionPanel-rounded:first-child.MuiExpansionPanel-rounded:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.subtabs-smrt {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-transform: none !important;
    margin: 0px !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    padding: 0px 0px 0px 4px !important;
    min-height: none !important;
}
.overlayCss{
    line-height: 20px !important;
    font-size: 12px !important;
    text-transform: uppercase;
    padding: 0px 8px !important;
    background: #ed1165 !important;
    text-transform: uppercase;
    display: inline-block !important;
    position: absolute;
    pointer-events: none !important;
    height: 20px !important;
    margin-top: 8px;

}
.overlayCss::after {
    
    content: "" !important;
    height: 0px;
    width: 0px;
    border-style: solid !important;
    border-width: 10px !important;
    border-color: #ed1165 transparent !important;
    position: absolute !important;
    top: 0px;
    right: -10px !important;
}

.imagezoom-cursor {
    border: 1px solid #ccc !important;
}

.imagecard {
    width: 100% !important;
    /* height: 600px !important; */
    border: 1px solid #ccc;
    counter-increment: inherit;
    /* height: 450px !important; */
    float: left !important;
    cursor: pointer !important;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}


#flashlight {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    z-index: 2147483647;
    opacity: 0.5;
    cursor: crosshair;
    overflow: hidden !important;
    text-align: center !important;
    cursor: pointer !important;
}

.imgzoom-shipping {
    margin-left: 3%;
}

.img-zooming- {
    margin-top: -12% !important;
}

.modalin-ring {}

.one-day-ship {
    width: 152px !important;
    height: 9% !important;
    background-image: url(https://assets-cdn.stylori.com/images/static/product-details-icons.png);
    /* margin-top: -30px !important; */
    position: absolute;
    background-repeat: no-repeat !important;
    margin-left: 0px;
    cursor: pointer !important;
    margin-left: -2% !important;
}

.overly-img {
    left: 48.8%;
    display: none;
    border: 1px solid rgb(204, 204, 204);
    /* height: 450px !important; */
    width: 35%;
    float: right !important;
    position: absolute; 
    z-index: 3;
    background-repeat: no-repeat;
    height: 600px !important;
    background-color: #fff !important;
}

.vertical-carousel {
    float: left !important;
    border: 1px solid #CCC;
    margin-bottom: 15px !important;
    width: 90% !important;
    /* height: 80px !important; */
    outline: none !important;
    cursor: pointer;
}

.imgzom-sidecraousel-media .slick-track {
    height: auto !important;
}

.slick-track {
    /* width: auto !important; */
}

.vertical-carousel-list-arrow {
    font-size: 15px;
}

.vertical-carousel-img {
    width: 100% !important;
    height: 100% !important;
}

.subslider-carousel {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100% !important;
    text-align: center !important;
    cursor: pointer !important;
}

.subslider-carousel-silver {
    background-color: #fff;
    width: 100% !important;
    text-align: center !important;
    cursor: pointer !important;
    display: block !important
}

.subslider-carousel-img {
    height: 100%;
    width: auto !important;
}

.subslider-carousel-img-Silver {
    height: 100%;
    width: 100% !important;
    display: block !important;
}


.sub-carousel-head {
    padding: 30px;
}

.like-and-recently {
    height: 50px;
    line-height: 50px;
    margin-top: 30px !important;
}

.NoProducts {
    display: flex;
    justify-content: center;
    color: #394578 !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.like-page {
    color: #394578 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    padding-left: 35% !important;
    border-right: 1px solid #ccc;
    cursor: pointer;

}

.recenetly-like-page-active {
    font-weight: bold !important;
}

.recenetly-like-page {
    color: #394578 !important;
    font-size: 13px !important;
    padding-left: 5% !important;
    cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
    color: red !important;
}

.next-price {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
    font-family: Roboto !important;
    font-size: 14px !important;
    transform: translatey(-100px);
    transition: all .2s ease-in-out;
    padding: 10px;
    height: 50px !important;
    overflow: hidden;
    font-weight: 400 !important;
}

.sub-list-price {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.css-ts7n45_wishlist {
    /* position: absolute !important; */
    z-index: 2 !important;
    float: right !important;
    margin-top: 10px !important;
}

.css-ts7n45-redy_toship {
    z-index: 2 !important;
    margin-top: 8px !important;
}

.css-ts7n45 {
    /* position: absolute !important; */
    margin-top: 7px !important;
    z-index: 2 !important;
}

.css-fn26pt {
    font-size: 1.6rem !important;
}

.css-5pjie5 {
    background:
    #ed1165cf !important;
    text-transform: uppercase;
    display: inline-block !important;
    position: relative !important;
    pointer-events: none !important;
    height: 20px !important;
    line-height: 20px !important;
    padding: 0px 8px !important;
    font-size: 12px !important;
}

.css-5pjie5::after {
    content: "" !important;
    height: 0px;
    width: 0px;
    border-style: solid !important;
    border-width: 10px !important;
    border-color:
    #ed1165cf transparent !important;
    position: absolute !important;
    top: 0px;
    right: -10px !important;
}

.css-5pjie5 {
    text-transform: uppercase !important;
    pointer-events: none;
    line-height: 20px !important;
    font-size: 12px !important;
}

.css-ocmcwm {
    font-size: 1.4rem !important;
    flex: 1;
    font-weight: 300 !important;
    margin-top: 5px !important;
    -webkit-box-align: center;
    display: flex;
    align-items: center !important;
    width: 100% !important;
    padding: 0 10px;
}

.css-kqsna2 {
    /* margin-right: 15px !important; */
    font-size: 1.4rem !important;
    color: rgba(241, 72, 128, 1) !important;
    font-weight: 500;
    width: 100% !important;
}

.css-tg000w {
    padding: 0 4px !important;
    color: #9d9fa4 !important;
    text-decoration: line-through;
    font-weight: 500;
    font-size: 17px !important;
    ;
}

.responseve-carousel {
    width: 100% !important;
    /* height: 200px !important; */
    text-align: center !important;
}

.responseve-carousel-img {
    height: 100% !important;
    width: 100% !important;
}

/*product-page-fixed-footer*/
.product-page-fixed-footer {
    height: 50px !important;
    position: fixed !important;
    bottom: 0 !important;
    top: auto !important;
    width: 100% !important;
    box-shadow: -3px 0px 10px#e9e9e9 !important;
}

.fixed-grid {
    background-color: #f36e23 !important;
}

.fixed_grid_price {
    font-size: 1.1rem !important;
    color: #394578;
    font-weight: 300;
    line-height: normal;
    float: left !important;
    padding: 0 10px;
}

.slick-dots {
    margin-top: -28px !important;
}

.product-footer-buynow {
    padding: 14px 20px !important;
    font-size: 16px;
    height: 50px !important;
    border: none;
    background-color: #f36e23 !important;
    color: #fff !important;
    text-align: center !important;
    letter-spacing: 2px !important;
    text-transform: none !important;
}

.talk-to-us {
    border-radius: 0;
    border: medium none;
    background-color: #ccc;
    color: #394578;
    padding: 16px 20px !important;
    font-size: 14px;
}

.side-arrow-symbol {
    font-family: "FontAwesome" !important;
    font-size: 15px !important;
    line-height: 1;
    color: #394578 !important;
    margin-right: 0px !important;
}

.overall-icons {
    font-size: 18px !important;
    cursor: pointer;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -490px 0;
    }

    100% {
        background-position: 490px 0;
    }
}

.shine {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;

    background-image: -webkit-linear-gradient(left,
            #f6f7f8 0%,
            #edeef1 20%,
            #f6f7f8 40%,
            #f6f7f8 100%);
    background-size: 980px 898px;
    /* height: 898px; */
    position: relative;
}

.my-ringsize {
    font-size: 12px;
    padding-left: 6px;
    color: #ed1165 !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.pagination {
    width: 7px !important;
}

.pagetabs {
    text-align: center !important;
    width: 45px;
    height: 45px;
    /* border: 1px solid #9d9d9d  !important; */
    border-radius: 100%;
    /* margin-bottom: 6px; */
    outline: none !important;
}

@media only screen and (max-width: 480px) {
    .pagetabs {
        text-align: center !important;
        height:45px !important;
        width: 45px !important;
        /* margin-bottom: 6px; */
        /* border: 1px solid #9d9d9d  !important; */
       border-radius: 50%;

        outline: none !important;
    }

    .pagetabslst {
        text-align: center !important;
        height:45px !important;
        width: 45px !important;
        /* border: 1px solid #9d9d9d  !important; */ 
        border-radius: 100%;
        outline: none !important;

    }
}

.pagetabslst {
    text-align: center !important;
    width: 45px;
    height: 45px;
    /* border: 1px solid #9d9d9d  !important; */
    border-radius: 100%;
    outline: none !important;

}

.PriceTabs-pagination {
    outline: none !important;
}

.page {
    display: inline-block !important;
    text-align: center !important;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #fff;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px rgba(0, 0, 0, .1);
    font-size: 13px;
    text-decoration: none;
    color: #394578 !important;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #ccc !important;
    font-weight: bold !important;
}

.rings_tabs {
    font-size: 13px !important;
    color: #394578 !important;
    width: 100% !important;
    padding: 10px;
    line-height: 13px;
    text-transform: capitalize;
    text-align: justify;
    padding: 0px 0px 0px 10px;
    display: flex;
}

.rings_tabsvls {
    font-size: 10px !important;
    color: #394578 !important;
    width: 100% !important;
    font-weight: 600;
    text-align: center;
    font-size: 11px !important
}

.rings_tabsvls_active {
    font-size: 11px !important;
    color: #394578 !important;
    width: 100% !important;
    font-weight: 600 !important;
    text-align: center;

}
.widthFix{
    width: 89%;
}
.sizeChange{
    max-width: default !important;
}
@media screen and (min-width:600px) and (max-width: 959px) {
    .widthFix{
        width: 41%;
    }
    .sizeChange{
        max-width: 10.66667% !important;
    }
}

@media screen and (min-width:600px) and (max-width: 1279px) {
    .rings_tabsvls {
        font-size: 10px !important;
        color: #394578 !important;
        width: 100% !important;
        font-weight: 600;
        text-align: left !important;
        font-size: 11px !important;
        padding:5px 0px 0px 10px;
    }
    
    .rings_tabsvls_active {
        font-size: 11px !important;
        color: #394578 !important;
        width: 100% !important;
        font-weight: 600 !important;
        text-align: left !important;
        padding:5px 0px 0px 10px;
    
    }
}

.darktabs {
    border: 2px solid #ed1165cf !important;
    border-radius: 100% !important;
    text-align: center !important;
    width: 45px;
    height: 45px;
    outline: none !important;
}

@media only screen and (max-width: 480px) {
    .darktabs {
        border: 2px solid #ed1165cf !important;
        border-radius: 100% !important;
        text-align: center !important;
        width: 45px;
        height: 45px;
        outline: none !important;
    }

    .darktabslst {
        border: 2px solid #ed1165cf !important;
        border-radius: 100% !important;
        text-align: center !important;
        width: 45px;
        height: 45px;
        outline: none !important;

    }
}

.darktabslst {
    border: 2px solid #ed1165cf !important;
    border-radius: 100% !important;
    text-align: center !important;
    width: 45px;
    height: 45px;
    outline: none !important;

}

.dark {
    text-align: center !important;
    width: 45px;
    height: 45px;
    border-radius: 100% !important;
    /* color: #fff !important; */
    outline: none !important;
    cursor: pointer;
    border: 2px solid #ed1165cf  !important;
    /* background: #f699a3 !important; */
}

.header-APP,
.MuiTab-root {
    /* padding: 0 10px; */
    /* background: none !important; */
    min-width: 33% !important;
}

.overall-box {
    border-radius: 5px;
    width: 100% !important;
    border: 1px solid #ccc;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    margin-bottom: 12px !important;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
}

.priceecontainer {
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* @media screen and (max-width:1220px),
(max-width: 1220px)and(min-width: 2621) {
    .overall-box {
        height: 130px !important;
    }
    
}
@media screen and (max-width:2622),
(max-width: 2622) {
    .overall-box {
        height: 790px !important;
    }
    
} */

/* .page:hover,
    .page.gradient:hover {
        background: #394578 !important;
        color: #fff !important;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
        background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0);
    }

    .page.gradient {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
        background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #e9e9e9);
    }

    .page.dark {
        border: solid 1px #ccc;
        background: #fff;
        box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1), 0px 1px 3px rgba(0, 0, 0, .1);
        color: #000;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
    }

    .page.dark:hover,
    .page.dark.gradient:hover {
        background: #3d4f5d;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
        background: -moz-linear-gradient(0% 0% 270deg, #547085, #3d4f5d);
    }

    .page.dark.active {
        border: none;
        background: #2f3237;
        box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px rgba(255, 255, 255, .1);
    }

    .page.dark.gradient {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
        background: -moz-linear-gradient(0% 0% 270deg, #565b5f, #3e4347);
    } */

.wrappercustom {
    /* font-family: "Roboto" !important; */
    width: 100% !important;
    height: 35px;
    color: #394578 !important;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.loader:before {
    display: block;
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    background-color: #222;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.overall-boxz {
    border-radius: 5px;
    width: 100% !important;
    background: #fff;
    border: 1px solid #ccc;
    padding-bottom: 4px !important;
    margin-bottom: 10px !important;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .06);
    padding-top: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 4px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.overall-bo {
    padding: 0 10px;
}

.pricing-loctn {
    color: #394578 !important;
    font-size: 14px !important;
    text-transform: capitalize;
    font-family: roboto;
    font-weight: 500;
}

.pricing-loctn-head {
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}

.resp {
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
    margin-top: 18px
        /* padding: 10px; */
}

.respc {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

@media screen and (max-width: 1220px),
(min-width: 1220px) {
    .pricing-imgzom-media {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .pricing-product-media {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .pricing-breadcrums-media {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}

.product-share {
    z-index: 2;
    top: 40px;
    padding: 11px 13px;
    text-align: center;
    border: 1px solid #ccc;
}

.product-share h5 {
    margin: 0px !important;
}

.product-share .MuiPaper-elevation8 {
    box-shadow: none !important;

}

.icon-rightcaro {
    background-position: -65px -21px !important;
    width: 15px !important;
    height: 20px !important;
    background-image: url("https://alpha-assets.stylori.com/images/static/home/slider_button.png") !important;
    /* border-right: 1px solid #ccc; */

}

.icon-leftcaro {
    background-position: -16px -21px !important;
    width: 15px !important;
    height: 20px !important;
    background-image: url("https://alpha-assets.stylori.com/images/static/home/slider_button.png") !important;
    /* border-left: 1px solid #ccc; */
}